.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/LOG_PATH_IS_UNDEFINED/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
.idea/*
*.iws
*.log
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/target/
/bin/
/log/
